<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.dao.DownDao">
	<insert id="insert" parameterType="java.lang.String" >
	insert into a values(#{name,jdbcType=VARCHAR})
	</insert>

</mapper>