<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.dao.TestDao">
<resultMap id="BaseResultMap" type="com.hp.dao.model.TestDO">
	<id column="NAME" property="name" jdbcType="VARCHAR" />
</resultMap>

	<select id="update" resultType="java.lang.String">
	select name from a
	</select>

</mapper>